*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body,html{
    height: 100%;
    width: 100%;
}
body{
    background: rgb(190, 190, 190);
    font-family: PingFangSC,'helvetica neue','hiragino sans gb',arial,'microsoft yahei ui','microsoft yahei',simsun,sans-serif !important;
}
p{
    text-indent: 2em;
}
ul{
    padding-left: 20px;
}
li{
    padding: 2px 0;
}
table{
    border-spacing: 0;
    border: 1px solid #01a5e3;
}
table tr:nth-of-type(2n){
    background-color: #dbe4f5;
}
table td{
    border: 1px solid #01a5e3;
    padding: 5px;
}
.pull-left{
    float: left;
}
.inline-block{
    display: inline-block;
}
.t-center{
    text-align: center;
}
.pt20{
    padding-top: 10px;
}
.c-red{
    color: red;
}
.title{
    font-size: 24px;
}
.title h2{
    font-size: 2em;
}
.step{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    color: #333;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -1px;
    overflow: hidden;
    opacity: 0;
    z-index: 0;
    transition: opacity 1s;
}
#overview{
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
.flex{
    display: flex;
}
.flex-row{
    flex-direction: row;
}
.flex-1{
    flex: 1;
}
.f-center{
    justify-content: center;
}
.step.active{
    opacity: 1;
    z-index: 100;
}
.step.wellcome .cover-content{
    background-color: #f7b500;
}
.impress-on-overview .step {
    opacity: 1;
    cursor: pointer;
}
.step .cover-content{
    display: flex;
    align-items:center;
    height: 75%;
    line-height: 1.5;
    color: #fff;
}
.step .cover-content .title{
    text-align: center;
    width: 100%;
}
.step .cover-content .author{
    width: 100%;
    text-align: center;
}
.step .cover-content .thanks{
    /*padding-left: 20%;*/
    color: #000;
    text-align: center;
    font-size: 60px;
    width: 100%;
}
.step .cover-footer{
    box-sizing: border-box;
    height: 25%;
    background-color: #efefef;
    position: relative;
    padding: 1% 0;
}
.cover-footer-content{
    height: 100%;
    background: url("../common/images/footer.png") no-repeat 15% center;
    background-size: contain;
}
.step .cover-footer:after{
    content: '';
    display: inline-block;
    width: 100px;
    height: 100px;
    background: radial-gradient(circle at top left, transparent 100px, #efefef 0) top left;
    position: absolute;
    right: 0;
    top: -100px;
}

.step.content-item .item-title{
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    background-color: #f7b500;
    margin: 20px 0;
    padding: 15px 0 15px 40px;
    background-image: url("images/header.png"),linear-gradient(135deg, transparent 0,transparent 60%,rgb(201,201,203) 60%, rgb(201,201,203) 65%,rgb(220,222,221) 65%,rgb(220,222,221) 94%,rgb(255,255,255) 94%);
    background-repeat: no-repeat;
    background-position: 91% center;
}
.step.content-item .content{
    padding: 10px 20px;
}
.step.content-item .content img{
    max-height: 100%;
    max-width: 100%;
}
.step.content-item .title-list{
    list-style: none;
    font-size: 36px;
}
.step.content-item .title-list li{
    padding: 15px 0;
}
.step.ths{
    /*width: 100%;*/
    position: relative;
}
.thanks img{
    width: 20%;
    position: absolute;
    bottom: 13%;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 1;
}
.step.ths .cover-footer{
    height: 15%;
    background-color: #f7b500;
}
.step.ths .cover-content{
    height: 85%;
}
.step.ths .cover-footer:after{
    background: radial-gradient(circle at top left, transparent 100px, #f7b500 0) top left;
}